* {
    box-sizing: border-box;
    /* background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png"); */
    background-color: transparent;
}

html {
    margin: auto;
}


/* @font-face {
    font-family: 'Avenir', sans-serif;
    src: url("files/Avenir.ttc") format("truetype");
} */

/* AM I DOING THIS FONT SHIT RIGHT THO AHHH */


.main {
    display: block;
    align-content: center;
    margin: auto;
    max-width: 976px;
    padding-bottom: 6em;
}

body {
    margin: auto;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

nav {
    display: flex;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* div {
    display: block;
}    */

li {
    list-style-type: none;
    padding-left: 56px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    white-space: nowrap;
}

.logo {
    display: inline-flex;
    flex-grow: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-top: 60px;
    color: #8D81D9;
    white-space: nowrap;
}

.hero {
    padding-top: 8em;
    padding-bottom: 8em;
}

.hero2 {
    padding-top: 6em;
    padding-bottom: 1em;
}

.banner {
    padding-top: 5em;
    padding-bottom: 3em;
    text-align: center;
}

#banner-img {
    border-radius: 5px;
    max-width: 100%;
}

.content {
    max-width: 810px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    opacity: 100%;
}

/* a:hover {
    font-weight: 600;
    color: #8D81D9;
    opacity: 100%;
} */

#active {
    color: #8D81D9;
    opacity: 1;
    font-weight: 500;
}

.header {
    max-width: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 600;
    opacity: 0.8;
}

h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.8);
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: rgba(0,0,0,0.7);
}

h4 {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}

.desc {
    max-width: 750px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0,0,0,0.6);
    line-height: 2em;
}

.article {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
    color: rgba(0,0,0,0.7);
}


.link, .link-d, .link-cover {
    color: #8D81D9;
    font-weight: 600;
}

.link-d:hover {
    color: #86BC24;
}

.link-cover:hover {
    color: #E90943;
}


.project1 {
    display: flex;
    align-items: center;
    /* border: 1px solid rgba(0,0,0, 0.2); */
    border-radius: 5px;
    margin-bottom: 3em;
    background-color: white;

    /* idk what over flow does */
}

.project1:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.2);
}

.image {
    display: flex;
    border-radius: 5px;
    padding: 0;
    background-color: #222222;
    flex-grow: 1;
}

#prj-img {
    max-width: 100%;
    object-fit: cover;
    background-color: #222222;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.info {
    display: flex;
    padding: 2.5em;
    flex-direction: column;
}

/* button {
    text-align: center;
    width: 250px;
    height: 48px;
    border-radius: 5px;

    background-color: #8D81D9;
    color: white;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
} */

.story {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #8D81D9;
    letter-spacing: 0.1em;
}

.hackathon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.hack {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 20%;
    margin-right: 16px;
    margin-bottom: 16px;
}

.hack:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 100%;
}

.projects {
    margin-top: 1em;
}

.hack-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
}


.hack-item1 {
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    padding-bottom: 1em;
}

.hack-item2 {
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
    padding-bottom: 1em;

}


#hack-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hack-item1:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);

}

.hack-item2:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);

}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.role {
    flex-direction: column;
    flex: 1;
}

.duration {
    flex-direction: column;
    flex: 1;
}

footer {
    margin-top: 5em;
    height: 56px;
    width: 100%;
    background-color: #F3F1F6;
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;text-align: center;
    padding-top: .5em;

}


@media all and (min-width: 1281px) {
    .header {
        max-width: 70%;
    }

}


@media all and (max-width: 1280px) {
    .main {
        max-width: 80%;
    }

    .header {
        max-width: 70%;
    }

    .info {
        max-width: 50%;
    }

}

@media all and (max-width: 768px) {
    .project1 {
        flex-wrap: wrap;
    }

    .header {
        max-width: 100%;
    }
    .info {
        max-width: 100%;
    }

    .hack-row {
        flex-direction: column;
    }

    .hack-item1 {
        margin-right: 0;
    }

    .hack-item2 {
        margin-left: 0;
    }
    
}

@media all and (max-width: 600px) {
    .main {
        max-width: 80%;
    }

    li {
        padding-left: 32px;
    }

    .project1 {
        flex-wrap: wrap;
    }

    .header {
        max-width: 100%;
    }

    .info {
        max-width: 100%;
    }

    .hero {
        padding-bottom: 5em;
        padding-top: 4em;
    }



}

@media all and (max-width: 425px) {
    .main {
        max-width: 90%;
    }              

    li {
        padding-left: 16px;
    }

    .container {
        padding-left: 18px;
    }

    .project1 {           
        flex-wrap: wrap;  
    }

    .header {
        max-width: 100%;
    }
}
